# Dépendances
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Système
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Dossiers de build
/build
/dist

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers temporaires
*.tmp
*.temp